#behaviors-filter {

  md-input-container {
    min-width: 250px;
    margin: 8px !important;

    .md-errors-spacer {
      display: none;
    }
  }

  button {
    margin: 0 0 -8px 0;
  }

  md-checkbox {
    margin: 8px !important;
  }
}

#behaviors {
  background-color: #fff;

  md-list-item p span {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
  }

  md-list-item button {
    min-width: 40px !important;
    min-height: 30px !important;
    line-height: 30px !important;
  }
}