#home {
  md-card-title {
    padding: 10px !important;
  }

  md-card-content {
    padding: 10px !important;
  }

  h3 {
    margin: 10px 0
  }

  md-switch {
    margin: 0 !important;
  }

  md-radio-button {
    margin: 5px 0 !important;
  }

  md-input-container {
    margin: 0 !important;
  }
}