// bower:scss
// endbower

@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

html, body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }
}

#content {
  background: url('/assets/images/background.jpg') repeat 0 0;

  #main {
    background: transparent;

    .section {
      animation: zoomIn 1s;
      background-color: #ffffff;

      .section-header {
        border-bottom: 1px solid #eee;
        height: 50px;

        .md-subhead {
          padding: 12px;
          font-weight: 500;
          margin: 0;
        }
      }

      .section-content {
        box-sizing: border-box;
        position: relative;
        overflow-x: hidden;
      }
    }
  }

  #copyright {
    font-size: 12px;
    font-weight: bold;
    margin: 0 16px 8px;
  }
}

md-list {
  padding: 0 !important;
}

// fix safari 100% height bug for md-tab component
// http://stackoverflow.com/questions/33636796/chrome-safari-not-filling-100-height-of-flex-parent
md-tab-content > div {
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: column !important;
  flex-direction: column !important;
}

md-dialog button {
  word-wrap: normal !important;
  white-space: normal !important;
  line-height: normal !important;
}

.material-icons {
  margin-right: 16px !important;
}

.animate-wrapper {
  position: relative;
  > .ng-enter, > .ng-leave {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

// injector
// endinjector
