<div class="widget md-whiteframe-2dp" flex>
  <div class="widget-header" layout="row" layout-align="start center">
    <h3 class="md-subhead" flex>Video Stream</h3>
    <md-button aria-label="Go back" class="md-icon-button" ng-href="#">
      <md-tooltip>Go back</md-tooltip>
      <md-icon class="material-icons">exit_to_app</md-icon>
    </md-button>
  </div>
  <div class="widget-content">
    <div id="video-stream-container" layout="column" layout-align="center center">
      <img id="video-stream" ng-src="http://pepper.local:9000">
    </div>
  </div>
</div>